body {
    font-family: 'Poppins', sans-serif;
    background:black;
}
nav{
    width:100%;
    height:150px;
    background:#202020;
    position:absolute;
    top:0px;
    left:0px;
    display:flex;
    align-items:center;
    justify-content:left;
}
.menu{
    font-size:7em;
    color:lavender;
    position:absolute;
    left:10px;
}
.cname{
    color:lavender;
    font-size:4em;
    font-weight:bolder;
    position:absolute;
    left:350px;
}
.cname::before{
    content:'VIMO ';
    color:orangered;
}
.nav-items{
    width:0px;
    height:100vh;
    background:#202020;
    position:absolute;
    top:0px;
    left:0px;
    display:flex;
    align-items:center;
    justify-content:left;
    flex-direction:column;
    overflow:hidden;
    transition:1s;
}
.company{
    width:500px;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:left;
    position:absolute;
    top:100px;
    left:50px;
}
.name{
    color:lavender;
    font-size:3.5em;
    font-weight:bolder;
}
.name::before{
    content:'VIMO ';
    color:orangered;
}
.close{
    margin-left:120px;
    font-weight:bolder;
    font-size:2em;
    color:lavender;
    padding:0.5rem;
    border:1px solid lavender;
    border-radius:100%;
}
.hr-1{
    width:500px;
    position:absolute;
    top:250px;
    left:45px;
}
.home{
    width:400px;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:left;
    position:absolute;
    top:300px;
    left:50px;
    border-radius:1rem;
    font-size:3em;
    font-weight:bolder;
    color:lavender;
}
.home-icon{
    font-size:1em;
    margin-left:30px;
}
.item-name1{
    margin-left:50px;
}
.account{
    width:400px;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:left;
    position:absolute;
    top:450px;
    left:50px;
    border-radius:1rem;
    font-size:3em;
    font-weight:bolder;
    color:lavender;
}
.account-icon{
    font-size:1em;
    margin-left:30px;
}
.item-name2{
    margin-left:50px;
}
.contact{
    width:450px;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:left;
    position:absolute;
    top:600px;
    left:50px;
    border-radius:1rem;
    font-size:3em;
    font-weight:bolder;
    color:lavender;
}
.contact-icon{
    font-size:1em;
    margin-left:30px;
}
.item-name3{
    margin-left:50px;
}
.about{
    width:400px;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:left;
    position:absolute;
    top:750px;
    left:50px;
    border-radius:1rem;
    font-size:3em;
    font-weight:bolder;
    color:lavender;
}
.about-icon{
    font-size:1em;
    margin-left:30px;
}
.item-name4{
    margin-left:50px;
}
#hovers:hover{
    background:lavender;
    color:orangered;
}
.menu:hover{
    color:orangered;
}
.popular{
    width:900px;
    height:1550px;
    margin:auto;
    margin-top:200px;
    border-radius:1rem;
    overflow:scroll;
    display:flex;
    align-items:center;
    justify-content:top;
    flex-direction:column;
    padding:1rem;
}
.ndiv{
    width:850px;
    height:600px;
    background:#333;
    border-radius:1rem;
    margin-top:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:2rem;
}
.indiv{
    width:800px;
    height:300px;
    background:white;
    border-radius:1rem;
}
.profiles{
    width:800px;
    height:150px;
    background:red;
    border-radius:1rem;
    margin-top:20px;
}
